@mixin flex($jc: flex-start) {
    display: flex;
    align-items: center;
    justify-content: $jc;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin transition ($property: all) {
    transition: $property .3s ease;
}
@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 576px) { @content };
    }
    @if $breakpoint == tab {
        @media (max-width: 768px) { @content };
    }
    @if $breakpoint == desktop {
        @media (max-width: 992px) { @content };
}
    @if $breakpoint == lg-desktop {
        @media (max-width: 1200px) { @content };
    }
}
